{{ define "content" }}
<div class="container py-5">
  <div class="text-center mb-5">
    <img src="/static/github-ff-banner.png"/> 
    <p class="lead text-muted">Your comprehensive database for ingredient information and analysis.</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="" hx-get="/searchbar" hx-trigger="load"></div> 
      <div id="search-results"></div>
    </div>
  </div>
</div>

{{ end }}
