{{ define "content" }}

    <div class="" hx-get="/navbar" hx-trigger="load, every 1s">
        <div id="navbar"></div>
    </div>


    <!-- This is the main page of the dashboard. -->

    <h1>Welcome to the Fragrance Free Dashboard</h1>

    <p>This dashboard provides insights into the fragrance-free products available in the market. 
        Explore our collection of products, their ingredients, and user reviews to make informed 
        decisions about your purchases.</p>
    
    <div class="" hx-get="/ingredients" hx-trigger="load"></div>

    <div class="" hx-get="/products" hx-trigger="load"></div>

    <div class="" hx-get="/product-comparator" hx-trigger="load"></div>
    
<div class="sidebar">
  <div id="sidebar-toggle-badge">
    
  </div>
</div>

<div class="container py-5">
  <div class="text-center mb-5">
    <img src="/static/github-ff-banner.png"/> 
    <p class="lead text-muted">Your comprehensive database for ingredient information and analysis.</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="" hx-get="/searchbar" hx-trigger="load"></div> 
      <div id="search-results"></div>
    </div>
  </div>
</div>

{{ end }}
