{{ define "content" }}

<div class="sidebar">
  <div class="position-absolute top-10 start-10" id="sidebar-toggle-badge">
  </div>
</div>

<div class="container py-5">
  <div class="text-center mb-5">
    <img src="/static/github-ff-banner.png"/> 
    <p class="lead text-muted">Your comprehensive database for ingredient information and analysis.</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="searchbar" class="" hx-get="/searchbar" hx-trigger="load"></div> 
      <button class="btn-registry mb-2 d-inline-flex align-items-center gap-2"
            hx-get="/ui/product-view"
            hx-target="#main-display"
            hx-swap="innerHTML"
            hx-on:htmx:before-request="this.classList.add('loading')">
        <i class="bi bi-plus-circle-fill"></i>
        <span class="text-uppercase tracking-widest fw-bold" style="font-size: 0.75rem;" hx-get="/component/searchbar/product" hx-swap="#searchbar">Product</span>
      </button>

      <div id="search-results"></div>
    </div>
  </div>
</div>

<style>
.btn-registry {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    outline: none;
}

/* Hover State: Invert Colors */
.btn-registry:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 4px 4px 0px 0px #000;
    transform: translate(-2px, -2px);
}
</style>

{{ end }}
