{{- $primary_name := "" -}}
{{- if and .Request .Request.Values.text -}}
{{- $primary_name = trim (index .Request.Values.text 0) -}}
{{- end }}
{{- if $primary_name }}
<div class="">
  <button class="btn btn-dark btn-sm text-center p-1 w-100"
    hx-get="/htmx/_ingredient_sync"
    hx-trigger="click"
    hx-vals='{"primary_name": "{{ $primary_name }}"}'
    hx-swap="none"
    hx-on:htmx:after-swap="htmx.trigger('#ingredient-search-input_manual', 'keyup')"
  >Not the one you're looking for? Start a search...</button>
  {{- if .Names }}
  <div class="accordion accordion-flush" id="namesAccordion">
    {{- range $index, $name := .Names }}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{$index}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{$index}}" aria-expanded="false" aria-controls="collapse-{{$index}}"
          hx-get="/htmx/ingredient-search_result?id={{ (index $name.Ingredients 0).Id }}"
          hx-target="#ingredient-accordion-body_{{$index}}"
        >
          {{$name.Text}}
        </button>
      </h2>
      <div id="collapse-{{$index}}" class="accordion-collapse collapse" aria-labelledby="heading-{{$index}}" data-bs-parent="#namesAccordion">
        <div class="accordion-body" id="ingredient-accordion-body_{{$index}}">
          More information about {{$name.Text}} goes here.
        </div>
      </div>
    </div>
    {{- end }}
  </div>
  {{- end }}
</div>
{{- else }}
<p class="text-center">Type something to begin a search!</p>
{{- end }}
