
<!-- Search Bar -->
<div class="mt-3">
  <div class="input-group rounded">
    <input 
      id="search-ingredient_name" name="name" type="text" class="form-control form-control-lg" placeholder="Search ingredients..."
      hx-get="/htmx/ingredient-search_results" hx-trigger="load, keyup changed delay:500ms" hx-target="#search-results" autocomplete="off"
      hx-include="#switchProduct, #switchIngredient"
    />
  </div>

  <div class="mt-1">
    <p class="text-muted">You can toggle the items included in your search.</p>
    <div class="d-flex">
      <div class="form-check form-switch">
        <input hx-get="/htmx/ingredient-search_results" hx-trigger="mouseup" hx-target="#search-results" hx-include="#search-ingredient_name, #switchProduct, #switchIngredient"
          hx-params="not switchProduct"
          class="form-check-input" type="checkbox" role="switch" id="switchProduct" name="switchProduct" checked>
        <label class="form-check-label" for="switchCheckDefault">Product</label>
      </div>

      <div class="form-check form-switch ms-3">
        <input hx-get="/htmx/ingredient-search_results" hx-trigger="mouseup" hx-target="#search-results" hx-include="#search-ingredient_name, #switchProduct, #switchIngredient"
          hx-params="not switchIngredient"
          class="form-check-input" type="checkbox" role="switch" id="switchIngredient" name="switchIngredient" checked>
        <label class="form-check-label" for="switchCheckDefault">Ingredient</label>
      </div>
    </div>
  </div>

  <div class="card p-3 mt-4" id="search-results">
  </div>
</div>

