{{define "ingredients"}}
    <div class="ingredients">
        <h2>Ingredients</h2>
        <ul>
            {{range .Ingredients}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    </div>

    <div class="name">
        <h2>Name</h2>
        <p>{{ .Name }}</p>
    </div>

    <div class="label">
        <h2>Label</h2>
        <p>{{ .Label }}</p>
    </div>

    <style>
        .ingredients {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }

        .name {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }

        .label {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }

    </style>
{{end}}


{{template "ingredients" .}}