{{define "ingredients"}}
    <div class="ingredients">
        <h1>Ingredient Information</h1>
        
        <div class="name">
            <h2>Name</h2>
            <p>{{ (index .ingredient.Names 0).Text }}</p>
        </div>

        <div class="label">
            <h2>Label</h2>
            {{range .ingredient.Labels}}
            <h4>{{.Type}}</h4>
            <p>{{.Payload}}</p>
            {{end}}
        </div>
    </div>

    <!-- <div class="name">
        <h2>Name</h2>
        <p>{{ (index .ingredient.Names 0).Text }}</p>
    </div>

    <div class="label">
        <h2>Label</h2>
        {{range .ingredient.Labels}}
            <p>{{.Type}}</p>
            <p>{{.Payload}}</p>
        {{end}}
         
    </div> -->

    <style>

        .ingredients {
            border: 1px solid #000000;
            padding: 10px;
            margin: 1px auto;
            background-color: bisque;
        }

        .name {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }

        .label {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }


    </style>
{{end}}


{{template "ingredients" .}}