{{ define "content" }}

    //This is only a placeholder page for initial testing. It will be replaced with the actual content of the Chiagoziem page.
    <div class="" hx-get="/navbar" hx-trigger="load, every 1s">
        <div id="navbar"></div>
    </div>


    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/chiagoziem">Chiagoziem</a></li>
            <li><a href="/chiagoziem2">Chiagoziem2</a></li>
        </ul>
    </nav>

    <h1>Chiagoziem</h1>
    <p>Welcome to the Chiagoziem page!</p>
{{ end }}