{{ define "search-product" }}
<div> 
  <input id="ingredients" name="ingredients" type="textarea" class="form-control mb-4" placeholder="Search products..." 
    hx-include="#ingredients" hx-get="/component/product/draft"
    hx-trigger="keyup changed delay:500ms"
    hx-target="#product-search_container"
    hx-swap="innerHTML"
  />
  <div id="product-search_container"></div>
</div>

<div class="p-1 mt-3">
  <button id="btn-switch_to_product" class="btn-registry mb-2 d-inline-flex align-items-center gap-2">
    <i class="bi bi-plus-circle-fill"></i>
    <span class="text-uppercase tracking-widest fw-bold" style="font-size: 0.75rem;" hx-get="/" hx-trigger="click" hx-target="body">Ingredient Search</span>
  </button>
</div>

{{ end }}
{{ template "search-product" . }}
