<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-column">
        <h5>Tagging Sets</h5>
        <p>
          The following are the tagging sets available to you.
        </p>
      </div>
      <ul class="list-group">
        {{- range .TagSets }}
        <li id="set-mini-target-{{.Id}}" class="list-group-item d-flex flex-column">
          <div class="d-flex justify-content-between align-items-start">
            <input type="hidden" id="id-{{.Id}}" name="id" value="{{ .Id }}">
            <button class="btn btn-sm bg-none"
              hx-delete="/tag/set/remove"
              hx-include="#id-{{.Id}}"
              hx-trigger="click"
              hx-target="closest li"
            ><i class="bi bi-trash-fill me-2" style="color: red;"></i></button>

            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ .Name }}</div>
              {{ .Description }}
              <br>
              <span class="text-muted">{{.Id}}</span>
            </div>
            <span class="badge bg-primary rounded-pill">{{ len .Rules }} Tag Rules</span>
          </div>


          <div class="d-flex justify-content-between align-items-start growable mt-3"
            data-growable-target="#set-mini-target-{{.Id}}"
          >
            <hr>
            <div class="ms-2 me-auto">
              <h6>Associated Tagging Rules</h6>
              <div class="d-flex flex-column">
                <form class="d-flex flex-wrap mb-3" hx-post="/tag/rule/create">
                  <input type="hidden" name="tagging_set_id" value="{{ .Id }}" id="tag-set-id-{{.Id}}">
                  {{- /* we need to add a "pattern input, and a tag input - both will be hidden and will use javascript 
                    so they are populated correctly.
                  */}}
                  <div class="mb-3">
                    <label>Pattern</label>
                    <input type="text" name="pattern" id="tag-rule-pattern-{{.Id}}" placeholder="Enter rule pattern..." class="form-control form-control-sm me-2">
                  </div>

                  <div class="mb-3">
                    <label>Tag</label>
                    <input type="text" name="tag-id" id="tag-id-{{.Id}}" placeholder="Enter tag id..." class="form-control form-control-sm me-2">
                  </div>

                  {{- /* Now here is the visible part! */}}
                  
                  <button type="submit" class="btn btn-sm btn-outline-primary"
                    hx-put="/tag/rule/create"
                    hx-include="#tag-rule-pattern-{{.Id}}, #tag-id-{{.Id}}, #tag-set-id-{{.Id}}"
                  >Add Rule</button>
                </form>

                {{- range .Rules }}
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <div>
                      : {{ .Pattern }}
                    </div>
                    <button class="btn btn-sm bg-none"
                      hx-delete="/tag/rule/remove"
                      hx-include="#id-{{.Id}}"
                      hx-trigger="click"
                      hx-target="closest div.d-flex"
                    ><i class="bi bi-trash-fill me-2" style="color: red;"></i></button>
                  </div>
                {{- else }}
                <code>There are none.</code>
                {{- end }}
              </div>
            </div>
          </div>
        </li> 
        {{- end }}
      </ul>
    </div>
  </div>
</div>
