<div class="container py-4">
  <div class="row g-5">

    <div class="col-lg-6 growable"
      data-growable-target="#grow-help-btn"
      data-growable-grow-event="click"
      data-growable-shrink-event="click"
    >
      <div class="ratio ratio-16x9 bg-secondary rounded d-flex align-items-center justify-content-center mb-3">
        <div class="d-flex align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="white" class="bi bi-play-circle opacity-75" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/>
          </svg>
        </div>
      </div>

      <div class="">
        <h6>Need help finding ingredient information?</h6>
        <div class="">
          <input type="text" class="form-control mb-3" placeholder="e.g. CeraVe, Ordinary, Dove, VaniCream, etc.">
          <p class="form-text mb-4">Use our brand specific guides for more information.</p>
        </div>
      </div>
    </div>

    <div class="col-lg">
      <p id='grow-help-btn' class='text-muted'><i class="bi bi-caret-left-fill"></i> Manual Input Help Guide</p>
      <h5 class="mb-1">Your Product, Your Way</h5>
      <p class="text-muted small mb-4">Add a product manually.</p>

      {{- if .User.IsAnonymous }}
        <div class="alert alert-warning" role="alert">
          You must be logged in to submit a product. Please <a href="/login" class="alert-link">log in or sign-up</a>.
        </div>
      {{- end }}

      <div class="mb-3">
        <label for="in-product-name-form" class="form-label fw-semibold">Product Name</label>
        <input id="in-product-name-form" name="name" type="text" class="form-control" placeholder="{{if not .User.IsAnonymous}}What is the product called?{{end}}" {{ if .User.IsAnonymous }}disabled{{ end }}>
        <div class="form-text">{{ if .User.IsAnonymous }}Create an account first.{{else}}We'll never share your product with anyone else unless you choose to!{{end}}</div>
      </div>

      <div class="mb-3"
        data-growable-target="#in-product-name-form"
        data-growable-grow-event="input"
        data-growable-shrink-event="never"
      >
        <label for="in-product-ing-textarea" class="form-label fw-semibold">Ingredient List</label>
        <textarea id="in-product-ing-textarea" name="ingredients" class="form-control" rows="4" placeholder="e.g. Water, Sugar, Salt, ..." {{ if .User.IsAnonymous }}disabled{{end}}></textarea>
        <div class="form-text">Copy and paste the ingredient list from the product label. We accept comma-separated lists.</div>
      </div>

      <div class="d-flex justify-content-end"
        data-growable-target="#in-product-ing-textarea"
        data-growable-grow-event="input"
        data-growable-shrink-event="never"
      >
        <button class="btn btn-dark px-4"
          {{- if .User.IsAnonymous }}disabled{{- end }}
          hx-put="/product/create"
          hx-include="#in-product-name-form, #in-product-ing-textarea"
        >Create My Product</button>
      </div>
    </div>

  </div>
</div>
